.banner-collection {
    padding-top: 1em;
    .row {
        padding: 1em;
    }
    .collection-mint{
            padding: 1em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            background-color: #000;
            border-radius: 5px;
    }
    .collection-preview {
            padding: 1em;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            background-color: #000;
            border-radius: 5px;
    }
}