.LogoSolana {
    background-color: #252525;
    border-radius: 50%;
    border: 2px solid #ababab;
    width: 25px;
    height: 25px;
    display: flex;
    margin-left: 5px;
}

.mint-page {
    background-color: #0d0b2e;

    .mint-section {
        padding-bottom: 3em !important;
    }
}

.balance-wallet-container {
    background: rgb(0, 255, 163);
    background: linear-gradient(90deg, rgba(0, 255, 163, 1) 0%, rgba(220, 31, 255, 1) 100%);
    padding: 2em;
    border-radius: 10px;
    margin: 1em;
    border: 5px solid #e5e5e5;

    .wallet-row {
        display: flex;
        color: #F2F2F2;
        font-weight: bold;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        div {
            display: flex;
        }
    }
}

.collection-info-container {
    background-color: #fbfbfb;
    border-radius: 10px;
    padding: 2em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #363636;
    border: 5px solid #00ffa3;

    h3 {
        margin-bottom: 1em;
    }

    span {
        font-weight: bold;
        width: 125px;
        text-align: center;
        width: 100%;
    }
    .alertstate-span {
        background: #0ac22c;
        padding: 0.5em 1em;
        margin: 1em;
        width: 100px;
        text-align: center;
        border-radius: 14px;
        border-width: 2px;
        border-color: #000;
        border-style: ridge;
        color: #fff;
        font-weight: bold;
    }

    .collection-info-price {
        display: flex;
        padding: 2em;
    }

    .collection-info-date {
        padding: 2em;
    }

    .collection-info-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;

        .available {
            background: rgb(0, 228, 145);
            background: linear-gradient(0deg, rgba(0, 228, 145, 1) 0%, rgba(0, 185, 118, 1) 100%);
        }

        .redeemed {
            background: rgb(228, 187, 0);
            background: linear-gradient(0deg, rgba(228, 187, 0, 1) 0%, rgba(228, 153, 0, 1) 100%);
        }

        .remaing {
            background: rgb(228, 111, 0);
            background: linear-gradient(0deg, rgba(228, 111, 0, 1) 0%, rgba(228, 15, 0, 1) 100%);
        }

        div {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            padding: 2em;
            margin: 1em;
        }
    }

    .collection-countdown {
        color: #000;
        padding: 1em;
    }
}
